@import './../../index.scss';

.calendar {
  box-sizing: border-box;
  height: 100%;
  padding: 1rem;
  .month-name {
    display: flex;
    align-items: center;
    height: 3rem;
    font-size: 3rem;
  }
  .grid {
    display: grid;
    border-radius: 10px;
    overflow: hidden;
    gap: 1px;
    background-color: $black-color;
    box-sizing: border-box;
    border: 1px $black-color solid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: max-content repeat(5, 1fr);
    height: calc(100% - 4rem);
    margin-top: 1rem;
    box-shadow: 1px 8px 31px -2px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 1px 8px 31px -2px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 1px 8px 31px -2px rgba(0, 0, 0, 0.59);
    .top-row {
      box-sizing: border-box;
      grid-column: 1 / span 7;
      gap: 1px;
      display: grid;
      background-color: $black-color;
      grid-template-columns: repeat(7, 1fr);
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: bold;
      .day-name {
        background-color: $base-color;
      }
    }
  }
}
