@import './../../../constants.scss';

.day {
  background-color: $base-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  min-height: 0;
  min-width: 0;

  .date {
    text-align: center;
    width: 23px;
    height: 23px;
    margin-bottom: 3px;
    &.current-day {
      background-color: blue;
      color: white;
      border-radius: 50%;
    }
  }
  .events {
    font-size: 12px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 0px 5px;
    &::-webkit-scrollbar {
      width: 5px;
      &-track {
        border-radius: 3px;
        border: rgba(0, 0, 0, 0.1) 1px solid;
      }
      &-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        width: 5px;
      }
    }
    .event {
      margin-bottom: 3px;
      height: 24px;
      padding: 2px 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-radius: 0.2rem;
      animation: fadeIn 1s forwards;
      display: flex;
      align-items: center;
      .time {
        background-color: $base-color;
        border-radius: 0.2rem;
        padding: 0px 4px;
        margin-right: 5px;
      }
      &.passed {
        text-decoration: line-through;
        animation: fadeInPassed 1s forwards;
      }
      &.during {
        border: $black-color solid 1px;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInPassed {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}
