@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');
$base-color: #2c9ecc;
$black-color:#212121;
* {
  font-family: 'Open Sans', sans-serif;
}

body,
#root {
  height: 100vh;
  margin: 0;
  background-color: $base-color;
  color: $black-color;
}
